<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_mfg_financial_dashboard" model="ir.actions.client">
        <field name="name">Executive Dashboard</field>
        <field name="tag">mfg_financial_dashboard.main_view</field>
    </record>

    <menuitem
        id="menu_mfg_financial_dashboard_root"
        name="Executive Dashboard"
        sequence="5"
        groups="base.group_user"/>

    <menuitem
        id="menu_mfg_financial_dashboard"
        name="Manufacturing &amp; Financial"
        parent="menu_mfg_financial_dashboard_root"
        action="action_mfg_financial_dashboard"
        sequence="1"/>
</odoo>
